@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root{
    --current:#CC9966;
}
*{
    font-family: 'Rampart One', cursive;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background: var(--current);
    color: #23120b;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: #3d2314;
}
html::-webkit-scrollbar-thumb{
    background: var(--current);
}

body{
    background: #23120b;
    overflow-x: hidden;
    color: var(--current);
}
